<div class="container">
<h1>Tasks</h1>
<ul class="list-group list-group-flush">
    <% @tasks.each do |task|%>
        <li class="list-group-item">
            <%= check_box_tag "completed","", task[:completed], class:""%>
            <%= link_to task[:title], task_path(task[:id]) %>
            <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure ?"}, class:"btn btn-danger btn-sm"%>
        </li>
    <%end%>
</ul>
<br/>
<%= link_to  "Create new task", new_path , class:"btn btn-dark"%>
</div>